<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GOLSource.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <GOLSource.Properties.Settings>
            <setting name="drawToolStrip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="drawLines" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="drawAdjacent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="GameSpeed" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="gridColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="cellColor" serializeAs="String">
                <value>Gray</value>
            </setting>
            <setting name="gridWidth" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="gridHeight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="drawHud" serializeAs="String">
                <value>True</value>
            </setting>
        </GOLSource.Properties.Settings>
    </userSettings>
</configuration>
